$map-container-offset: 10;

div.mapContainer {
  position: fixed;
  height: 100vh + $map-container-offset;
  width: 100vw + $map-container-offset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  div.map {
    height: 100%;
    width: 100%;
  }
}
