div.menu-outter {
  position: fixed;
  z-index: $menu-z-index;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  font-size: 1.3rem;
  background-color: $menu-background-color;

  div.menu-header {
    position: relative;
    display: inline-block;
    height: 100%;

    a.menu-trigger {
      position: relative;
      top: 50%;

      color: $menu-text-color;
      &.menu-opener > i::before {
        transform: rotate(180deg);
        transition: $menu-button-open-transition;
      }
    }

    .menu-header-actions {
      list-style: none;
      li {
        padding: $menu-action-padding $menu-action-padding;
        font-size: $menu-action-inner-size;
        line-height: $menu-action-inner-size;
        cursor: pointer;
      }
      li.first {
        background-color: map_get($amber-palette, 'light-2');
      }

      li.second {
        background-color: map_get($amber-palette, 'base');
      }

      li.third {
        background-color: map_get($amber-palette, 'dark-2');
      }
    }
  }

  div.menu-inner {
    display: inline-block;
    width: 0px;
    transition: $menu-open-transition;
    background-color: $menu-background-color;
    color: $menu-text-color;
    overflow-x: hidden;
    white-space: nowrap;

    ul.menu-content {
      list-style: none;
      li {
        a {
          .fi {
            font-size: 2rem;
          }
          color: $menu-text-color;
        }
      }
    }
  }

  &.open {
    div.menu-header a.menu-trigger.menu-opener > i::before {
      transform: rotate(0deg);
      transition: $menu-button-open-transition;
    }

    div.menu-inner {
      width: 300px;
      transition: $menu-open-transition;
    }
  }
}